.Contenedor-Imagen{
    display: flex;
    flex-direction: column;
}

.LogoArriba{
    width: max-content;
    height: 130px;
    align-self: center;
    left: 100px;
}

.Contenedor-Imagen2{
    display: flex;
    flex-direction: column;
}

.LogoTec{
    position: absolute;
    top: 200px;
    height: 150px;
    left: 80%;
}

.Barra1{
    position: absolute; 
    top: 120px; 
    left: 0px; 
    width: 100%; 
    height: 64px; 
    background: #1E386BFF; 
    border-radius: 0px; 
    box-shadow: 0px 2px 5px #171a1f, 0px 0px 2px;
}

.Barra2{
    position:absolute; 
    top: 100%; 
    left: 0px; 
    width: 100%; 
    height: 64px; 
    background: #1E386BFF; 
    border-radius: 0px; 
    box-shadow: 0px 2px 5px #171a1f, 0px 0px 2px;
}

.FotoPerfil{
    display: flex;
    position: absolute;
    top: 200px;
    width: 170px;
    height: 190px;
}

.NumControl{
    display: flex;
    position: absolute;
    top: 300px;
    left: 470px;
    justify-content: center;
    flex-direction: column;
    font-family: 'Manrope', sans-serif;
}

div.Buscar button{
    display: flex;
    align-items: center;
    width: 100px;
    height: 30px;
    position: absolute;
    top: 320px;
    left: 780px;
    justify-content: center;
    font-family: 'Manrope', sans-serif;
    border-radius: 25px;
    border: none;
    background: #6610F2;
    font-size: 15px;
    color: #dadada;
}   

div.Buscar button:hover{
    border: 2px solid black;
}

.HrsRealizadas{
    position: absolute;
    display: flex;
    top: 450px;
    flex-direction: column;
    font-family: 'Manrope',sans-serif;
    justify-content: center;
}

.HrsFaltantes{
    position: absolute;
    display: flex;
    top: 450px;
    left: 330px;
    flex-direction: column;
    font-family: 'Manrope',sans-serif;
    justify-content: center;
}

.HrsTotales{
    position: absolute;
    display: flex;
    top: 450px;
    left: 650px;
    flex-direction: column;
    font-family: 'Manrope',sans-serif;
    justify-content: center;
}

.HrsExtra{
    position: absolute;
    display: flex;
    top: 450px;
    left: 970px;
    flex-direction: column;
    font-family: 'Manrope',sans-serif;
    justify-content: center;
}

.AgregarHrs button{
    position: absolute;
    display: flex;
    top: 570px;
    border: none;
    background: #6610F2;
    color: #dadada;
    border-radius: 25px;
    font-size: 15px;
    width: 100px;
    height: 30px;
    align-items: center;
    justify-content: center;
    left: 900px;
    font-family: 'Manrope',sans-serif;
}

div.AgregarHrs button:hover{
    border: 2px solid black;
}

.DisminuirHrs button{
    position: absolute;
    display: flex;
    top: 570px;
    border: none;
    background: #6610F2;
    color: #dadada;
    border-radius: 25px;
    font-size: 15px;
    width: 100px;
    height: 30px;
    align-items: center;
    justify-content: center;
    left: 1020px;
    font-family: 'Manrope',sans-serif;
}

div.DisminuirHrs button:hover{
    border: 2px solid black;
}

div.Regresar a{
    position: absolute;
    display: flex;
    top: 570px;
    border: none;
    background: #6610F2;
    color: #dadada;
    border-radius: 25px;
    font-size: 15px;
    width: 100px;
    height: 30px;
    align-items: center;
    justify-content: center;
    left: 1140px;
    text-decoration: none;
    font-family: 'Manrope',sans-serif;
}

div.Regresar a:hover{
    border: 2px solid black;
}


input{
    width: 300px;
    border-radius: 6px;
    box-sizing: border-box;
    border: 1px solid black;
    font-size: 15px;
}
